/* Add application styles & imports to this file! */
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: black;
}

.form-control:focus {
  outline: none !important;
  outline-style: none;
  box-shadow:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border-color:transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}