input {
 outline: none !important;
}

.font-monospace {
  font-family: monospace;
}

.height-full {
  height: 100%;
}

.text-white {
  color: white;
}

.p-t-xs {
  padding: 0.4em;
}

.message-container {
  padding-left: 0.55em;
  font-size: 1.08em;
}

.m-t-shift {
  margin-top: -4px;
}

.border-none {
  border: none;
}

.bg-transparent {
  background: transparent;
}